<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
      404错误页面
    </font></font></h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 家</font></font></a></li>
      <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">例子</font></font></a></li>
      <li class="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">404错误</font></font></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 404</font></font></h2>

      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">哎呀！</font><font style="vertical-align: inherit;">网页未找到。</font></font></h3>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          我们找不到您要查找的页面。</font><font style="vertical-align: inherit;">同时，您可以</font></font><a href="../../index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">返回仪表板</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">或尝试使用搜索表单。
        </font></font></p>

        <form class="search-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search">

            <div class="input-group-btn">
              <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <!-- /.input-group -->
        </form>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->
</div>
